/* Global Styles */

@import url("//fonts.googleapis.com/css?family=Work+Sans:300,400,600");

.block {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.input-group {
  margin: auto;
  display: flex;
  flex-direction: row;
}